*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-color: blue;
    height: 308px;
    width: 1920px;
    left: 0px;
    top: 3902px;
}
.body h3{
    padding: 70px 0;
    border: 20px;
    text-align: left;
    font-size: 30px;
    color: white;
}
div.left-side{
    width: 30%;
    height: 100%;
    display: inline-block;
    right: 20px;
}
div.right-side{
    width: 30%;
    display: inline-block;
    height: 100%;
    margin: 30px;
}
div.medium{
    width: 30%;
    height: 100%;
    display: inline-block;
}
div.pirveli{
    padding: 50px;
    border: 30px;
    width: 40%;
    height: 100%;
    display: inline-block;
}
div.meore{
    padding: 60px;
    right:20px;
    border: 60px;
    width: 15%;
    height: 100%;
    display: inline-block;
}
div.mesame{
    padding: 60px;
    right:20px;
    border: 60px;
    width: 15%;
    height: 100%;
    display: inline-block;
}
div.meotxe{
    padding: 60px;
    right:20px;
    border: 60px;
    width: 15%;
    height: 100%;
    display: inline-block;
}
section{
    width: 100%;
}
.pirveli h3{
    font-size: 30px;
    color: black;
    padding: 10px;
    border: none;
}
h2:before{
    content:"";
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 30px;
    background-color: black;
    margin-left: 30px;
    text-align: left;
    left: 1519px;
    top: 4580px;
    /* text-transform: uppercase; */
}
section.bolo-gverdi{
    background-color: blue;
    width: 100%;
}
div.kontaqti{
    padding: 40px;
    border: 30px;
    width: 40%;
    height: 100%;
    display: inline-block;
    color: white;
    text-align: left;
    left: 240px;
}
.kontaqti h4{
    padding: 30px 0;
    border: 20px;
    text-align:left;
    font-size: 30px;
    color: white;
    margin: 20px;
}
div.ruka{
    display: block;
    left: 240px;
    padding: 30px;
    border: 40px;
}
div.call{
    left: 240px;
    padding: 30px;
    border: 40px;
    color: white;
    display: inline-block;
}
.class h4{
    right: 200px;
}
div.mail{
    left: 340px;
    padding: 30px;
    border: 40px;
    color: white;
    display: inline-block;
}
form{
    left: 400px;
    padding: 100px;
    border: 30px;
    display: inline-block;
    right: 20%;
    height: 100%;
    /* margin: 30px; */
    /* padding: 70px;
    right:20px;
    border: 60px;
    width: 15%;
    height: 100%; */
    display: inline-block;
    margin: 20px;
}
footer{
    background-color: blue;
}
div.boloa{
    /* right: 400px; */
    /* right:0px; */
    width: 26px;
    height: 26px;
    border: 3px;
    padding: 10px;
    text-align: right;
    /* position: absolute; */
    /* background-color: blue; */
    display: inline-block;
}
.agarvar{
    width: 26px;
    height: 16px;
    border: 3px;
    padding-right: 12px;
    text-align: right;
    display: inline-block;
}
.mishvelet{
    right: 121px;
    height: 35px;
    display: inline-block;
    /* top: 6467px;
    left: 1558px; */
}
.zeda-warwera{
    width: 106px;
    height: 16px;
    /* left: 1345px;
    display: inline-block; */
}